<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}{% endblock %} | Cryptic Spires
        </title>
        {% block styles %}{% endblock %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/rw.css') }}">
        <!-- Uncomment this once online: -->
        <!-- <link rel="stylesheet" href="https://rain-world-map.github.io/rw.css"> -->
        <!-- CSS file by Henpemaz -->
        {% block prescripts %}{% endblock %}
    </head>
    <body>
        <div class="rw-title">Cryptic Spires</div>
        <div class="rw-box">
            <div class="rw-box" id="tab-bar">
                <form id="tab-bar">
                    <label class="difficulty-btn">
                        <input type="radio" class="rw-ui" id="home-button" name="tab-menu" autocomplete="off">
                        <img id="home-button" src="{{ url_for('static', filename='images/home.png') }}">
                    </label>
                    <label class="difficulty-btn">
                        <input type="radio" class="rw-ui" id="sym-button" name="tab-menu" autocomplete="off">
                        <img id="sym-button" src="{{ url_for('static', filename='images/symmetric.png') }}">
                    </label>
                    <label class="difficulty-btn">
                        <input type="radio" class="rw-ui" id="asym-button" name="tab-menu" autocomplete="off">
                        <img id="asym-button" src="{{ url_for('static', filename='images/asymmetric.png') }}">
                    </label>
                    <label class="difficulty-btn">
                        <input type="radio" class="rw-ui" id="hash-button" name="tab-menu" autocomplete="off">
                        <img id="hash-button" src="{{ url_for('static', filename='images/hash.png') }}">
                    </label>
                    <label class="difficulty-btn">
                        <input type="radio" class="rw-ui" id="info-button" name="tab-menu" autocomplete="off">
                        <img id="info-button" src="{{ url_for('static', filename='images/info.png') }}">
                    </label>
                    <label class="difficulty-btn">
                        <input type="radio" class="rw-ui" id="about-button" name="tab-menu" autocomplete="off">
                        <img id="about-button" src="{{ url_for('static', filename='images/about.png') }}">
                    </label>
                </form>
                <div class="rw-subtext" id="tab-name"></div>
            </div>
            <div class="rw-text">{% block description %}{% endblock %}</div>
        </div>
        {% block content %}
        {% endblock %}
    </body>
    {% block postscripts %}
    {% endblock %}
</html>