{% extends 'base.html' %}
{% block title %}Hashing Functions{% endblock %}
{% block prescripts %}
<script>
    page = "hashing";
</script>
{% endblock %}

{% block description %}
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at nunc eget magna vulputate euismod. Maecenas egestas enim sed mauris aliquam ornare. Nullam ac enim suscipit, maximus felis in, volutpat urna. Nulla eget rutrum sem, sed consectetur lectus. Ut commodo ut risus sed pretium. Maecenas pulvinar ultrices risus vel cursus. Praesent lectus orci, congue nec elit ac, porta semper lorem. Aliquam sodales sapien felis, eget imperdiet ante accumsan ac. Nunc varius erat hendrerit fermentum varius. Nulla facilisi. Donec maximus ac risus in vulputate. Sed eu ex vitae mi laoreet fringilla vitae et lacus. In efficitur sagittis purus.
{% endblock %}

{% block content %}

<div class="rw-box" id="main-box" style="display: none !important;">
    <form id="cryptic-form">
        <div class="rw-box tab-bar">
            <label>
                <div class="tab-btn">
                    <input type="radio" class="rw-ui" id="sha1-button" name="hash" value="sha1" autocomplete="off">
                    <span class="rw-text">SHA-1</span>
                </div>
            </label>
            <label>
                <div class="tab-btn">
                    <input type="radio" class="rw-ui" id="sha256-button" name="hash" value="sha256" autocomplete="off">
                    <span class="rw-text">SHA-256</span>
                </div>
            </label>
            <label>
                <div class="tab-btn">
                    <input type="radio" class="rw-ui" id="md5-button" name="hash" value="md5" autocomplete="off">
                    <span class="rw-text">MD5</span>
                </div>
            </label>
            <label>
                <div class="tab-btn">
                    <input type="radio" class="rw-ui" id="blake2-button" name="hash" value="blake2" autocomplete="off">
                    <span class="rw-text">BLAKE2</span>
                </div>
            </label>
            <label>
                <div class="tab-btn">
                    <input type="radio" class="rw-ui" id="fsb-button" name="hash" value="fsb" autocomplete="off">
                    <span class="rw-text">FSB</span>
                </div>
            </label>
            <label>
                <div class="tab-btn">
                    <input type="radio" class="rw-ui" id="gost-button" name="hash" value="gost" autocomplete="off">
                    <span class="rw-text">GOST</span>
                </div>
            </label>
        </div>
        <div class="rw-box">
            <div class="mini-form" id="sym-form">
                <div class="col-1" id="sha1-info">
                    <div class="rw-bigtext">Secure Hashing Algorithm-1 (SHA-1)</div>
                    <div class="rw-text">sha1</div>
                </div>
                <div class="col-1" id="sha256-info">
                    <div class="rw-bigtext">Secure Hashing Algorithm-256 (SHA-256)</div>
                    <div class="rw-text">sha256</div>
                </div>
                <div class="col-1" id="md5-info">
                    <div class="rw-bigtext">Message-Digest 5 (MD5)</div>
                    <div class="rw-text">yum yum yum part 5</div>
                </div>
                <div class="col-1" id="blake2-info">
                    <div class="rw-bigtext">BLAKE2</div>
                    <div class="rw-text">electric boogaloo</div>
                </div>
                <div class="col-1" id="fsb-info">
                    <div class="rw-bigtext">Fast Syndrome-Based (FSB)</div>
                    <div class="rw-text">syndrome based?</div>
                </div>
                <div class="col-1" id="gost-info">
                    <div class="rw-bigtext">Gosudarstvennyy Standart (GOST)</div>
                    <div class="rw-text">spoopy</div>
                </div>
                <div class="col-2 rw-text">
                    <!-- Form contents -->
                    <div class="form-group">
                        <div class="rw-box tab-bar">
                            <span class="rw-text label">Input type:</span>
                            <label>
                                <div class="tab-btn">
                                    <input type="radio" class="rw-ui" id="text-input" name="input-type" value="text" autocomplete="off">
                                    <span class="rw-text">TEXT</span>
                                </div>
                            </label>
                            <label>
                                <div class="tab-btn">
                                    <input type="radio" class="rw-ui" id="file-input" name="input-type" value="file" autocomplete="off">
                                    <span class="rw-text">FILE</span>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="form-group" id="text-input-form">
                        <!-- TEXT INPUT -->
                        <textarea name="text-input-textbox" class="rw-ui rw-text" placeholder="Input text here..."></textarea>
                    </div>
                    <div class="form-group" id="file-input-form">
                        <!-- FILE INPUT -->
                        <div class="rw-box" id="rw-file-picker">
                            <input type="file" name="file-input" autocomplete="off" style="display: none;">
                            <button class="rw-ui rw-text" type="button">CHOOSE FILE</button>
                            <span class="rw-text">No file chosen (max: 100 MB)</span>
                        </div>
                    </div>
                    <div class="form-group hori-group">
                        <button class="rw-ui rw-text" type="submit" id="encrypt-button">HASH</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="machine-process" id="the-machine">
    <img id="machine-image" src="{{ url_for('static', filename='images/machine-processing.png') }}">
    <img id="machine-animation" style="filter: brightness(1.9);" src="{{ url_for('static', filename='images/machine-processing.gif') }}">
</div>

<div class="rw-box" id="results-main-div">
    <div class="rw-bigtext" id="status-text" style="color: #A9A4B200; animation: text-blinker 1.6s linear infinite;" >STATUS: READY</div>
    <div id="result-text-div">
        <div class="rw-subtext" id="result-note">The following is the hash result of the input.</div>
        <div class="rw-text" id="result-div">
            <textarea class="rw-ui rw-text" disabled id="result-textbox"></textarea>
            <button type="button" id="copy-button" class="rw-ui rw-text">COPY TO CLIPBOARD</button>
        </div>
    </div>
    <div id="result-file-div">
        <a id="hidden-anchor" href download hidden></a>
        <button class="rw-ui rw-text" id="download-button">DOWNLOAD</button>
    </div>
</div>

{% endblock %}
{% block postscripts %}
<script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/hash-forms.js') }}"></script>
<script>
    document.querySelector("div#main-box").style.display = null;
</script>
{% endblock %}