{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block prescripts %}
<script>
    page = "home";
</script>
{% endblock %}

{% block description %}
It seems you have wandered far enough to enter a place you have never seen before.<br/><br/>

<div class="rw-bigtext">Welcome to Cryptic Spires.</div>

This is where digital messages are sent to and fro. You can access the various modes of this specific spire.<br/>
A certain cryptic machine of sorts will help you with your cryptology journey.<br/><br/>
Stay safe, little wanderer.
{% endblock %}

{% block content %}
{% endblock %}
{% block postscripts %}
<script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
{% endblock %}