<!DOCTYPE html>
<html>
    <head>
        <style>
            html {
                background-color: black;
            }

            table {
                border-collapse: collapse;
            }

            td {
                background-color: black;
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <table id="grid">
            <tr>
<td id="cell1"></td>
<td id="cell2"></td>
<td id="cell3"></td>
<td id="cell4"></td>
<td id="cell5"></td>
<td id="cell6"></td>
<td id="cell7"></td>
<td id="cell8"></td>
<td id="cell9"></td>
<td id="cell10"></td>
<td id="cell11"></td>
<td id="cell12"></td>
<td id="cell13"></td>
<td id="cell14"></td>
<td id="cell15"></td>
<td id="cell16"></td>
<td id="cell17"></td>
<td id="cell18"></td>
<td id="cell19"></td>
<td id="cell20"></td>
<td id="cell21"></td>
<td id="cell22"></td>
<td id="cell23"></td>
<td id="cell24"></td>
<td id="cell25"></td>
<td id="cell26"></td>
<td id="cell27"></td>
<td id="cell28"></td>
<td id="cell29"></td>
<td id="cell30"></td>
<td id="cell31"></td>
<td id="cell32"></td>
</tr>
<tr>
<td id="cell33"></td>
<td id="cell34"></td>
<td id="cell35"></td>
<td id="cell36"></td>
<td id="cell37"></td>
<td id="cell38"></td>
<td id="cell39"></td>
<td id="cell40"></td>
<td id="cell41"></td>
<td id="cell42"></td>
<td id="cell43"></td>
<td id="cell44"></td>
<td id="cell45"></td>
<td id="cell46"></td>
<td id="cell47"></td>
<td id="cell48"></td>
<td id="cell49"></td>
<td id="cell50"></td>
<td id="cell51"></td>
<td id="cell52"></td>
<td id="cell53"></td>
<td id="cell54"></td>
<td id="cell55"></td>
<td id="cell56"></td>
<td id="cell57"></td>
<td id="cell58"></td>
<td id="cell59"></td>
<td id="cell60"></td>
<td id="cell61"></td>
<td id="cell62"></td>
<td id="cell63"></td>
<td id="cell64"></td>
</tr>
<tr>
<td id="cell65"></td>
<td id="cell66"></td>
<td id="cell67"></td>
<td id="cell68"></td>
<td id="cell69"></td>
<td id="cell70"></td>
<td id="cell71"></td>
<td id="cell72"></td>
<td id="cell73"></td>
<td id="cell74"></td>
<td id="cell75"></td>
<td id="cell76"></td>
<td id="cell77"></td>
<td id="cell78"></td>
<td id="cell79"></td>
<td id="cell80"></td>
<td id="cell81"></td>
<td id="cell82"></td>
<td id="cell83"></td>
<td id="cell84"></td>
<td id="cell85"></td>
<td id="cell86"></td>
<td id="cell87"></td>
<td id="cell88"></td>
<td id="cell89"></td>
<td id="cell90"></td>
<td id="cell91"></td>
<td id="cell92"></td>
<td id="cell93"></td>
<td id="cell94"></td>
<td id="cell95"></td>
<td id="cell96"></td>
</tr>
<tr>
<td id="cell97"></td>
<td id="cell98"></td>
<td id="cell99"></td>
<td id="cell100"></td>
<td id="cell101"></td>
<td id="cell102"></td>
<td id="cell103"></td>
<td id="cell104"></td>
<td id="cell105"></td>
<td id="cell106"></td>
<td id="cell107"></td>
<td id="cell108"></td>
<td id="cell109"></td>
<td id="cell110"></td>
<td id="cell111"></td>
<td id="cell112"></td>
<td id="cell113"></td>
<td id="cell114"></td>
<td id="cell115"></td>
<td id="cell116"></td>
<td id="cell117"></td>
<td id="cell118"></td>
<td id="cell119"></td>
<td id="cell120"></td>
<td id="cell121"></td>
<td id="cell122"></td>
<td id="cell123"></td>
<td id="cell124"></td>
<td id="cell125"></td>
<td id="cell126"></td>
<td id="cell127"></td>
<td id="cell128"></td>
</tr>
<tr>
<td id="cell129"></td>
<td id="cell130"></td>
<td id="cell131"></td>
<td id="cell132"></td>
<td id="cell133"></td>
<td id="cell134"></td>
<td id="cell135"></td>
<td id="cell136"></td>
<td id="cell137"></td>
<td id="cell138"></td>
<td id="cell139"></td>
<td id="cell140"></td>
<td id="cell141"></td>
<td id="cell142"></td>
<td id="cell143"></td>
<td id="cell144"></td>
<td id="cell145"></td>
<td id="cell146"></td>
<td id="cell147"></td>
<td id="cell148"></td>
<td id="cell149"></td>
<td id="cell150"></td>
<td id="cell151"></td>
<td id="cell152"></td>
<td id="cell153"></td>
<td id="cell154"></td>
<td id="cell155"></td>
<td id="cell156"></td>
<td id="cell157"></td>
<td id="cell158"></td>
<td id="cell159"></td>
<td id="cell160"></td>
</tr>
<tr>
<td id="cell161"></td>
<td id="cell162"></td>
<td id="cell163"></td>
<td id="cell164"></td>
<td id="cell165"></td>
<td id="cell166"></td>
<td id="cell167"></td>
<td id="cell168"></td>
<td id="cell169"></td>
<td id="cell170"></td>
<td id="cell171"></td>
<td id="cell172"></td>
<td id="cell173"></td>
<td id="cell174"></td>
<td id="cell175"></td>
<td id="cell176"></td>
<td id="cell177"></td>
<td id="cell178"></td>
<td id="cell179"></td>
<td id="cell180"></td>
<td id="cell181"></td>
<td id="cell182"></td>
<td id="cell183"></td>
<td id="cell184"></td>
<td id="cell185"></td>
<td id="cell186"></td>
<td id="cell187"></td>
<td id="cell188"></td>
<td id="cell189"></td>
<td id="cell190"></td>
<td id="cell191"></td>
<td id="cell192"></td>
</tr>
<tr>
<td id="cell193"></td>
<td id="cell194"></td>
<td id="cell195"></td>
<td id="cell196"></td>
<td id="cell197"></td>
<td id="cell198"></td>
<td id="cell199"></td>
<td id="cell200"></td>
<td id="cell201"></td>
<td id="cell202"></td>
<td id="cell203"></td>
<td id="cell204"></td>
<td id="cell205"></td>
<td id="cell206"></td>
<td id="cell207"></td>
<td id="cell208"></td>
<td id="cell209"></td>
<td id="cell210"></td>
<td id="cell211"></td>
<td id="cell212"></td>
<td id="cell213"></td>
<td id="cell214"></td>
<td id="cell215"></td>
<td id="cell216"></td>
<td id="cell217"></td>
<td id="cell218"></td>
<td id="cell219"></td>
<td id="cell220"></td>
<td id="cell221"></td>
<td id="cell222"></td>
<td id="cell223"></td>
<td id="cell224"></td>
</tr>
<tr>
<td id="cell225"></td>
<td id="cell226"></td>
<td id="cell227"></td>
<td id="cell228"></td>
<td id="cell229"></td>
<td id="cell230"></td>
<td id="cell231"></td>
<td id="cell232"></td>
<td id="cell233"></td>
<td id="cell234"></td>
<td id="cell235"></td>
<td id="cell236"></td>
<td id="cell237"></td>
<td id="cell238"></td>
<td id="cell239"></td>
<td id="cell240"></td>
<td id="cell241"></td>
<td id="cell242"></td>
<td id="cell243"></td>
<td id="cell244"></td>
<td id="cell245"></td>
<td id="cell246"></td>
<td id="cell247"></td>
<td id="cell248"></td>
<td id="cell249"></td>
<td id="cell250"></td>
<td id="cell251"></td>
<td id="cell252"></td>
<td id="cell253"></td>
<td id="cell254"></td>
<td id="cell255"></td>
<td id="cell256"></td>
</tr>
<tr>
<td id="cell257"></td>
<td id="cell258"></td>
<td id="cell259"></td>
<td id="cell260"></td>
<td id="cell261"></td>
<td id="cell262"></td>
<td id="cell263"></td>
<td id="cell264"></td>
<td id="cell265"></td>
<td id="cell266"></td>
<td id="cell267"></td>
<td id="cell268"></td>
<td id="cell269"></td>
<td id="cell270"></td>
<td id="cell271"></td>
<td id="cell272"></td>
<td id="cell273"></td>
<td id="cell274"></td>
<td id="cell275"></td>
<td id="cell276"></td>
<td id="cell277"></td>
<td id="cell278"></td>
<td id="cell279"></td>
<td id="cell280"></td>
<td id="cell281"></td>
<td id="cell282"></td>
<td id="cell283"></td>
<td id="cell284"></td>
<td id="cell285"></td>
<td id="cell286"></td>
<td id="cell287"></td>
<td id="cell288"></td>
</tr>
<tr>
<td id="cell289"></td>
<td id="cell290"></td>
<td id="cell291"></td>
<td id="cell292"></td>
<td id="cell293"></td>
<td id="cell294"></td>
<td id="cell295"></td>
<td id="cell296"></td>
<td id="cell297"></td>
<td id="cell298"></td>
<td id="cell299"></td>
<td id="cell300"></td>
<td id="cell301"></td>
<td id="cell302"></td>
<td id="cell303"></td>
<td id="cell304"></td>
<td id="cell305"></td>
<td id="cell306"></td>
<td id="cell307"></td>
<td id="cell308"></td>
<td id="cell309"></td>
<td id="cell310"></td>
<td id="cell311"></td>
<td id="cell312"></td>
<td id="cell313"></td>
<td id="cell314"></td>
<td id="cell315"></td>
<td id="cell316"></td>
<td id="cell317"></td>
<td id="cell318"></td>
<td id="cell319"></td>
<td id="cell320"></td>
</tr>
<tr>
<td id="cell321"></td>
<td id="cell322"></td>
<td id="cell323"></td>
<td id="cell324"></td>
<td id="cell325"></td>
<td id="cell326"></td>
<td id="cell327"></td>
<td id="cell328"></td>
<td id="cell329"></td>
<td id="cell330"></td>
<td id="cell331"></td>
<td id="cell332"></td>
<td id="cell333"></td>
<td id="cell334"></td>
<td id="cell335"></td>
<td id="cell336"></td>
<td id="cell337"></td>
<td id="cell338"></td>
<td id="cell339"></td>
<td id="cell340"></td>
<td id="cell341"></td>
<td id="cell342"></td>
<td id="cell343"></td>
<td id="cell344"></td>
<td id="cell345"></td>
<td id="cell346"></td>
<td id="cell347"></td>
<td id="cell348"></td>
<td id="cell349"></td>
<td id="cell350"></td>
<td id="cell351"></td>
<td id="cell352"></td>
</tr>
<tr>
<td id="cell353"></td>
<td id="cell354"></td>
<td id="cell355"></td>
<td id="cell356"></td>
<td id="cell357"></td>
<td id="cell358"></td>
<td id="cell359"></td>
<td id="cell360"></td>
<td id="cell361"></td>
<td id="cell362"></td>
<td id="cell363"></td>
<td id="cell364"></td>
<td id="cell365"></td>
<td id="cell366"></td>
<td id="cell367"></td>
<td id="cell368"></td>
<td id="cell369"></td>
<td id="cell370"></td>
<td id="cell371"></td>
<td id="cell372"></td>
<td id="cell373"></td>
<td id="cell374"></td>
<td id="cell375"></td>
<td id="cell376"></td>
<td id="cell377"></td>
<td id="cell378"></td>
<td id="cell379"></td>
<td id="cell380"></td>
<td id="cell381"></td>
<td id="cell382"></td>
<td id="cell383"></td>
<td id="cell384"></td>
</tr>
<tr>
<td id="cell385"></td>
<td id="cell386"></td>
<td id="cell387"></td>
<td id="cell388"></td>
<td id="cell389"></td>
<td id="cell390"></td>
<td id="cell391"></td>
<td id="cell392"></td>
<td id="cell393"></td>
<td id="cell394"></td>
<td id="cell395"></td>
<td id="cell396"></td>
<td id="cell397"></td>
<td id="cell398"></td>
<td id="cell399"></td>
<td id="cell400"></td>
<td id="cell401"></td>
<td id="cell402"></td>
<td id="cell403"></td>
<td id="cell404"></td>
<td id="cell405"></td>
<td id="cell406"></td>
<td id="cell407"></td>
<td id="cell408"></td>
<td id="cell409"></td>
<td id="cell410"></td>
<td id="cell411"></td>
<td id="cell412"></td>
<td id="cell413"></td>
<td id="cell414"></td>
<td id="cell415"></td>
<td id="cell416"></td>
</tr>
<tr>
<td id="cell417"></td>
<td id="cell418"></td>
<td id="cell419"></td>
<td id="cell420"></td>
<td id="cell421"></td>
<td id="cell422"></td>
<td id="cell423"></td>
<td id="cell424"></td>
<td id="cell425"></td>
<td id="cell426"></td>
<td id="cell427"></td>
<td id="cell428"></td>
<td id="cell429"></td>
<td id="cell430"></td>
<td id="cell431"></td>
<td id="cell432"></td>
<td id="cell433"></td>
<td id="cell434"></td>
<td id="cell435"></td>
<td id="cell436"></td>
<td id="cell437"></td>
<td id="cell438"></td>
<td id="cell439"></td>
<td id="cell440"></td>
<td id="cell441"></td>
<td id="cell442"></td>
<td id="cell443"></td>
<td id="cell444"></td>
<td id="cell445"></td>
<td id="cell446"></td>
<td id="cell447"></td>
<td id="cell448"></td>
</tr>
<tr>
<td id="cell449"></td>
<td id="cell450"></td>
<td id="cell451"></td>
<td id="cell452"></td>
<td id="cell453"></td>
<td id="cell454"></td>
<td id="cell455"></td>
<td id="cell456"></td>
<td id="cell457"></td>
<td id="cell458"></td>
<td id="cell459"></td>
<td id="cell460"></td>
<td id="cell461"></td>
<td id="cell462"></td>
<td id="cell463"></td>
<td id="cell464"></td>
<td id="cell465"></td>
<td id="cell466"></td>
<td id="cell467"></td>
<td id="cell468"></td>
<td id="cell469"></td>
<td id="cell470"></td>
<td id="cell471"></td>
<td id="cell472"></td>
<td id="cell473"></td>
<td id="cell474"></td>
<td id="cell475"></td>
<td id="cell476"></td>
<td id="cell477"></td>
<td id="cell478"></td>
<td id="cell479"></td>
<td id="cell480"></td>
</tr>
<tr>
<td id="cell481"></td>
<td id="cell482"></td>
<td id="cell483"></td>
<td id="cell484"></td>
<td id="cell485"></td>
<td id="cell486"></td>
<td id="cell487"></td>
<td id="cell488"></td>
<td id="cell489"></td>
<td id="cell490"></td>
<td id="cell491"></td>
<td id="cell492"></td>
<td id="cell493"></td>
<td id="cell494"></td>
<td id="cell495"></td>
<td id="cell496"></td>
<td id="cell497"></td>
<td id="cell498"></td>
<td id="cell499"></td>
<td id="cell500"></td>
<td id="cell501"></td>
<td id="cell502"></td>
<td id="cell503"></td>
<td id="cell504"></td>
<td id="cell505"></td>
<td id="cell506"></td>
<td id="cell507"></td>
<td id="cell508"></td>
<td id="cell509"></td>
<td id="cell510"></td>
<td id="cell511"></td>
<td id="cell512"></td>
</tr>
<tr>
<td id="cell513"></td>
<td id="cell514"></td>
<td id="cell515"></td>
<td id="cell516"></td>
<td id="cell517"></td>
<td id="cell518"></td>
<td id="cell519"></td>
<td id="cell520"></td>
<td id="cell521"></td>
<td id="cell522"></td>
<td id="cell523"></td>
<td id="cell524"></td>
<td id="cell525"></td>
<td id="cell526"></td>
<td id="cell527"></td>
<td id="cell528"></td>
<td id="cell529"></td>
<td id="cell530"></td>
<td id="cell531"></td>
<td id="cell532"></td>
<td id="cell533"></td>
<td id="cell534"></td>
<td id="cell535"></td>
<td id="cell536"></td>
<td id="cell537"></td>
<td id="cell538"></td>
<td id="cell539"></td>
<td id="cell540"></td>
<td id="cell541"></td>
<td id="cell542"></td>
<td id="cell543"></td>
<td id="cell544"></td>
</tr>
<tr>
<td id="cell545"></td>
<td id="cell546"></td>
<td id="cell547"></td>
<td id="cell548"></td>
<td id="cell549"></td>
<td id="cell550"></td>
<td id="cell551"></td>
<td id="cell552"></td>
<td id="cell553"></td>
<td id="cell554"></td>
<td id="cell555"></td>
<td id="cell556"></td>
<td id="cell557"></td>
<td id="cell558"></td>
<td id="cell559"></td>
<td id="cell560"></td>
<td id="cell561"></td>
<td id="cell562"></td>
<td id="cell563"></td>
<td id="cell564"></td>
<td id="cell565"></td>
<td id="cell566"></td>
<td id="cell567"></td>
<td id="cell568"></td>
<td id="cell569"></td>
<td id="cell570"></td>
<td id="cell571"></td>
<td id="cell572"></td>
<td id="cell573"></td>
<td id="cell574"></td>
<td id="cell575"></td>
<td id="cell576"></td>
</tr>
<tr>
<td id="cell577"></td>
<td id="cell578"></td>
<td id="cell579"></td>
<td id="cell580"></td>
<td id="cell581"></td>
<td id="cell582"></td>
<td id="cell583"></td>
<td id="cell584"></td>
<td id="cell585"></td>
<td id="cell586"></td>
<td id="cell587"></td>
<td id="cell588"></td>
<td id="cell589"></td>
<td id="cell590"></td>
<td id="cell591"></td>
<td id="cell592"></td>
<td id="cell593"></td>
<td id="cell594"></td>
<td id="cell595"></td>
<td id="cell596"></td>
<td id="cell597"></td>
<td id="cell598"></td>
<td id="cell599"></td>
<td id="cell600"></td>
<td id="cell601"></td>
<td id="cell602"></td>
<td id="cell603"></td>
<td id="cell604"></td>
<td id="cell605"></td>
<td id="cell606"></td>
<td id="cell607"></td>
<td id="cell608"></td>
</tr>
<tr>
<td id="cell609"></td>
<td id="cell610"></td>
<td id="cell611"></td>
<td id="cell612"></td>
<td id="cell613"></td>
<td id="cell614"></td>
<td id="cell615"></td>
<td id="cell616"></td>
<td id="cell617"></td>
<td id="cell618"></td>
<td id="cell619"></td>
<td id="cell620"></td>
<td id="cell621"></td>
<td id="cell622"></td>
<td id="cell623"></td>
<td id="cell624"></td>
<td id="cell625"></td>
<td id="cell626"></td>
<td id="cell627"></td>
<td id="cell628"></td>
<td id="cell629"></td>
<td id="cell630"></td>
<td id="cell631"></td>
<td id="cell632"></td>
<td id="cell633"></td>
<td id="cell634"></td>
<td id="cell635"></td>
<td id="cell636"></td>
<td id="cell637"></td>
<td id="cell638"></td>
<td id="cell639"></td>
<td id="cell640"></td>
</tr>
        </table>
        <button type="button" onclick="startAnimation()">play</button>
    </body>
    <script>
        const cells = document.querySelectorAll("td");
        
        function animationLoop()
        {
            for (cell of cells)
            {
                color = Math.random() * 2
                alpha = Math.random();
                if (color < 1.9)
                {
                    cell.style.backgroundColor = `rgba(11,0,213,${alpha})`;
                }
                else
                {
                    cell.style.backgroundColor = `rgba(234,0,0,${alpha})`;
                }
            }
        }

        function startAnimation()
        {
            for (i = 0; i < 10000; i++) {
                setTimeout(animationLoop, 50);
            }
        }
    </script>
</html>