html {
    height: 100%;
    background-image: url(/static/images/background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    color: white;
}

body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    backdrop-filter: blur(8px);
}

div.center_div {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

button.rw-ui {
    background-color: black;
    width: 75% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

span {
    text-align: center;
    color: white;
}

.machine-process {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    margin-top: 20px;
}

img#machine-image {
    position: relative;
    width: 545px;
    height: 477px;
}

img#machine-animation {
    display: none;
    position: absolute;
    top: calc(50% - 96px);
    left: calc(50% - 162px);
    width: 323px;
    height: 208px;
}

div.tab-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#cryptic-form div.rw-box {
    width: 95%;
}

#cryptic-form .rw-box.tab-bar {
    justify-content: start;
}

#cryptic-form .rw-box.tab-bar:has(> span) {
    justify-content: end;
}

.mini-form {
    display: flex;
    flex-direction: row;
}

div.col-1 {
    display: flex;
    flex-direction: column;
    float: left;
    width: 50%;
    text-align: left;
}

div.col-2 {
    display: flex;
    flex-direction: column;
    float: right;
    width: 50%;
    text-align: left;
}

div.form-group {
    display: flex;
    flex-direction: row;
    width: 100%;
}

div.form-group span.label {
    display: flex;
    align-self: center;
    width: 100%;
}

div.form-group.text-input {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    gap: 10px;
    flex-shrink: 1;
}

.form-group label {
    width: 100%;
}

.form-group.hori-group {
    flex-direction: row;
    gap: 10px;
}

.results-main-div {
    flex-direction: column;
}

div#result-text-div {
    
    flex-direction: column;
}

div#result-div {
    display: flex;
    flex-direction: column;
}

@keyframes fade-out {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }
    
    100% {
        opacity: 100%;
    }
}

textarea#public-key-textarea, textarea#private-key-textarea {
    display: none;
    width: unset;
    margin-top: 10px;
    max-height: 0;
    transition: max-height 0.7s ease;
}

button#copy-public-key, button#copy-private-key {
    display: none;
}